@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  opacity: .6;
  background: #007aff;
}

.swiper-pagination-bullet-active {
  background: #007aff;
}